<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>CSS Doughtnuts</title>
  <meta name="description" content="CSS Doughtnuts">
  <meta name="author" content="Jorge Pabon">

  <link rel="stylesheet" href="doughnuts.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>

<div class="card">
  <div class="donut-chart chart1">
    <div class="slice one"></div>
    <div class="slice two"></div>
    <div class="chart-center">
      <span></span>
    </div>
  </div>
</div>

<div class="card">
  <div class="donut-chart chart2">
    <div class="slice one"></div>
    <div class="slice two"></div>
    <div class="chart-center">
      <span></span>
    </div>
  </div>
</div>

<div class="card">
  <div class="donut-chart chart3">
    <div class="slice one"></div>
    <div class="slice two"></div>
    <div class="chart-center">
      <span></span>
    </div>
  </div>
</div>

<div class="card">
  <div class="donut-chart chart4">
    <div class="slice one"></div>
    <div class="slice two"></div>
    <div class="chart-center">
      <span></span>
    </div>
  </div>
</div>

</body>
</html>